*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h5{
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
    color: #666;
    text-transform: capitalize;
}
#alert{
    color: red;
    margin-top: 20px;
}
.col-50{
    width: 50%;
}
body{
    display: grid;place-items: center;
    height: 100vh;
    background-color:#f7f4eb;
}
.row{
    width: 100%;
    margin: 10px 0;
    display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
}
input{
    height: 30px;
    width: 90%;
    outline: none;
    border: none;
    position: relative;
    padding-left: 30px;
background: transparent;
color: #333;
font-size: 1.2rem;
}
main{
    width: 80%;
    min-height: 80vh;
    display: flex;
    box-shadow: 0 0 10px 1px #7c7c7c;
    >.img{
        position: relative;
        // border: 1px solid red;
        // padding: 50px;
        overflow: hidden;
        img{
            position: absolute;
            width: 100%;
            bottom: 0;
        }
        img:nth-of-type(2){
         
            transform: translate(-10% ,-10%);
        }
        img:nth-of-type(1){
       
           transform:  translate(-32%, 7%) scale(2);
        }
    }
    .login{
        padding: 50px;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        input{
            border-bottom: 1.5px solid rgba(136, 136, 136, 0.694);
        }
        .icon{
            height: 16px;;
            width: 16px;
        position: relative;
        display: none;
        transform: translateX(-30px);
        >div{
            position: absolute;
            top: 0;
            transition: 0.5s;
        }
        .open{
            display: none;
        }
        }
        button{
            width: 80%;
            background: #fece2f;
            height: 35px;
            border-radius: 10px;
            border: 0.5px solid #e6ba2a;
            margin-top: 30px;
            color: #fff;
            text-transform:capitalize;
            font-size: 1.2rem;
            transition: 1s all;
            &:hover{
              background:linear-gradient(45deg , #fff , #f5c015,#fff ) ;
              transform: scale(1.1) translateY(1px);
              color: rgb(119, 119, 119);
              letter-spacing: 3px;
            }
        }

    }
}
.char{
width: 100px;
height: 100px;

>img{
    width: 100%;
    height: 100%;border-radius: 50%;
}
}
